html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

#title {
  text-align: center;
  margin-top: 0px;
}

#agenda {
  max-height: 40vh;
  overflow: scroll;
}

.studentBtn {
  margin-left: 10px;
  margin-top: 10px;
}

#pac-input{
  height: 6.5vh;
  width: 80vw;
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#signoutWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  padding: 5px;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}

#signout {
  height: 40px;
  width: 40px;

  position: absolute;

}

#center {
    text-align: center;
}

#addEventForm {
  width: 80vw;
  position: fixed;
  bottom: 50px;
}

.form-control {
  margin-top: 20px;
  text-align: center;

  height: 50px;
}
