* {
  margin: 0;
  padding: 0;
}

#backHome {
  margin-top: 10px;
  margin-left: 10px;
}

.studentBtn {
  margin-left: 10px;
  margin-top: 10px;
}

#agenda {
  margin-left: 10px;
  margin-top: 10px;
}
