* {
  margin: 0;
  padding: 0;
}

#welcome {
  text-align: center;
}

#nextEvent {
  display: flex;
  margin-left: 10px;
}

<<<<<<< HEAD
=======
#agenda {
  margin-top: 10px;
  margin-left: 10px;
}

>>>>>>> 323dd44b4ab79fef4a4166f0e5abc7ee79c906c3
#sign-out {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.profile div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#googleMaps {
    height: 1000px;
}

#map {
    height: 90%;
