* {
  margin: 0;
  padding: 0;
}

#welcome {
  text-align: center;
}

#nextEvent {
  display: flex;
  margin-left: 10px;
}

#agenda {
  margin-top: 10px;
  margin-left: 10px;
}

#sign-out {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.profile div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#googleMaps {
  height: 100%;
  width: 100%;
  position: absolute;
}

#map {
  height: 100%;
}

.gmnoprint {
  display: none;
}

div.gm-style button {
  display: none;
}

#pac-input{
  height: 6.5vh;
  width: 90vw;
  /*position: absolute;*/
  margin-top: 18px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;

}